<!-- Index.razor -->
@page "/"
@using ApplicationCore.Models
@using ApplicationCore.Interfaces
@using Microsoft.AspNetCore.Components 
@inject IJSRuntime JsRuntime

<PageTitle>Index</PageTitle>

<h1>Your Templates:</h1>
<div class="row text-center">
    <a class="hourglass-button btn btn-primary m-3" role="button" @onclick="() => OpenCreateTemplate()">Create New <i class=" bi bi-plus-circle"></i></a>
</div>

<div class="row">
    @foreach (var template in TemplateList)
    {
        <a class="hourglass-template-card col-md-4" @onclick="() => OpenTemplateSession(template.Id)">
            <div class="card mb-3">
                <div class="text-center card-body p-3 m-3" style="background-color: @template.TemplateColor">
                    <h5 class="hourglass-template-card-title card-title">@template.Name</h5>
                    <i class="fas @template.TemplateImage"></i>
                </div>
            </div>
        </a>
    }
</div>

<div class="row">
    <div style="text-align: center;">Weekly Stats</div>
    <div class="col-3 card card-body m-1" id="bar-chart-container">
        <!-- Bar chart will be created here -->
    </div>
    <div class="col-3 card card-body m-1">
        <div id="pie-chart-container"></div>
    </div>
    <div class="col-3 card card-body m-1" id="weekly-stats">

    </div>
</div>

<script suppress-error="BL9992" src="js/index.js"</script>
<script suppress-error="BL9992" src="https://d3js.org/d3.v5.min.js"></script>




