@using System
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Forms

@page "/calendar"

<PageTitle>Calendar</PageTitle>

<InputDate @bind-Value="selectedDate" />
<p role="status"><b>Selected date:</b> @selectedDate</p>


@code {
    private DateTime? selectedDate;
}