@using ApplicationCore.Models
@using ApplicationCore.Interfaces
@using Microsoft.AspNetCore.Components
@*To load components of homepage into Index?*@
<PageTitle>Index</PageTitle>

<h1>Your Templates:</h1>
<div class="row text-center">
    <a class="hourglass-button btn btn-primary m-3" role="button" @onclick="() => OpenCreateTemplate()">Create New <i class=" bi bi-plus-circle"></i></a>
</div>

<div class="row">
    @foreach (var template in TemplateList)
    {
        <a class="hourglass-template-card col-md-4" @onclick="() => OpenTemplateSession(template.Id)">
            <div class="card mb-3">
                <div class="text-center card-body p-3 m-3" style="background-color: @template.TemplateColor">
                    <h5 class="hourglass-template-card-title card-title">@template.Name</h5>
                    <i class="fas @template.TemplateImage"></i>
                </div>
            </div>
        </a>
    }
</div>

